footer {
    padding: 12px;
}

body {
    padding-top: 64px;
}

#app-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}

a {
    color: white;
}

.article {
    margin: 1rem 0 1rem 0;
    width: 100%;
}

@media (min-width: 960px) {
    .article {
        width: 960px;
    }
} 