footer {
    padding: 12px;
}

body {
    padding-top: 64px;
}

#app-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}

a {
    color: white;
}

.article {
    margin: 1rem 0 1rem 0;
    width: 100%;
}

@media (min-width: 960px) {
    .article {
        width: 80%;
    }
}

.youtube-container-100 {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    height: 0;
    overflow: hidden;
}
.youtube-container-100 iframe,
.youtube-container-100 embed {
    position: absolute;
    border-width: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
